
#Docs code {
  color: white;
  background-color: black; 
  padding: 2px;
  font-size: 1rem;
  display:block;
  padding: 10px;
  width: 90%;
  margin:10px auto;
  text-align: left
}
#Docs li{font-size: 1rem; margin: 10px; text-align: left}

#Docs table{width: 100%}
#Docs th{font-size: 1.2rem; padding: 15px}
#Docs tr{font-size: 1rem; border: 1px solid white}
#Docs td{border: 1px solid white; padding: 15px}

#Docs .Section{max-width: 1000px; background-color: rgb(77, 59, 92); padding: 30px; margin: 30px 0}
#Docs .SubSection{background-color: rgb(100, 97, 158); padding: 15px 30px 30px}
#Docs .TableContents{background-color: white; color: blueviolet;padding: 40px 20px}

